@charset "utf-8";
body {
	height: 1100px;
	background-color: red; /* For browsers that do not support gradients */
	background-image: radial-gradient( red 5%, blue 15%, purple 60%);
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: cosmicblaster;
}
@media only screen and (max-width: 780px)
{
	canvas#myCanvas
{
	
    position: absolute;
    top:100px;
    left:23%;
    width: 50vw;
    height: 50vh;
    object-fit: contain;
}	

}




@font-face {
  font-family: cosmicblaster;
  src: url(./fonts/cosmicblaster.ttf);
}


canvas{
	position:absolute;
	top:100px;
	left:23%;
	max-width: 1000px;
	max-height: 600px;
	width: 75vw;
	height:	75vh;
	object-fit: contain;
	
}
img{
    width: 100%;
}

.button {
  background-color: #purple; 
  font-family: cosmicblaster;
  color: white;
  padding: 16px 5px;
  text-align: center;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}




#wButton{
	font-family: cosmicblaster;
	position:absolute;
	top:720px;
	left:10px;
	width:50px;
	height:70px;
	background-color: #815194; 
	color: black; 
	border: 2px solid #815194;
	border-radius: 10px;
}
#wButton:hover{
	background-color: #8517b0;
	color: #a943d1;
}

#wButton:active {
    box-shadow: 0 5px #3D3D3D;
    transform: translateY(7px);
}











#aButton{
	position:absolute;
	top:720px;
	left:70px;
	width:50px;
	height:70px;
	background-color: #815194; 
	color: black; 
	border: 2px solid #815194;
	border-radius: 10px;
}
#aButton:hover{
	background-color: #8517b0;
	color: #a943d1;
}

#aButton:active {
    box-shadow: 0 5px #3D3D3D;
    transform: translateY(7px);
}










#dButton{
	position:absolute;
	top:820px;
	left:10px;
	width:50px;
	height:70px;
	background-color: #815194; 
	color: black; 
	border: 2px solid #815194;
	border-radius: 10px;
}
#dButton:hover{
	background-color: #8517b0;
	color: #a943d1;
}

#dButton:active {
    box-shadow: 0 5px #3D3D3D;
    transform: translateY(7px);
}
 .rainbowSquare{
  width: 10px;
  height: 10px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}



@keyframes example {
  0%   {background-color:red; left:470px; top:540px;}
  25%  {background-color:yellow; left:1050px; top:540px;}
  50%  {background-color:blue; left:1050px; top:750px;}
  75%  {background-color:green; left:470px; top:750px;}
  100% {background-color:red; left:470px; top:540px;}
}



#sButton{
	position:absolute;
	top:820px;
	left:70px;
	width:50px;
	height:70px;
	background-color: #815194; 
	color: black; 
	border: 2px solid #815194;
	border-radius: 10px;
}
#sButton:hover{
	background-color: #8517b0;
	color: #a943d1;
}

#sButton:active {
    box-shadow: 0 5px #3D3D3D;
    transform: translateY(7px);
}











