@charset "utf-8";
body {
	background-color: #e3e3e3;
	overflow-x: hidden;
}

.navFloat{
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}

.navFloat:last-child{
	border-left: none;
}

.navBar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fcfcfc;
  text-decoration: none;
}


/* Define a custom web font */
@font-face {
  font-family: cosmicblaster;
  src: url(./fonts/cosmicblaster.ttf);
}-


