@charset "utf-8";
body {
	background-color: #000000;
	overflow-x: hidden;
}

.navFloat{
	float: right;
	border-left:1px solid #bbb;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	
	}

.navFloat:last-child{
	border-left: none;
}

.navBar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fcfcfc;
}


/* Define a custom web font */
@font-face {
  font-family: cosmicblaster;
  src: url(./fonts/cosmicblaster.ttf);
}-


