@charset "utf-8";
body {
	background-color: #000000;
	overflow-x: hidden;
}


/* FIRST BG PIC  */
#tlo1{
	position:absolute;
	image-repeat: no-repeat;
	attachment: fixed;
	size:cover;
	height:1000px;
	top:0px;
	left:-1px;
	width:1900px;
	border: solid ;
	border-bottom-width:0px;
	border-top-width:15px;
	border-right-width:0px;
	border-left-width:15px;
	border-radius: 50px;
	z-index:0;
}
/* SECOND BG PIC  */
#tlo2{
	position:absolute;
	image-repeat: no-repeat;
	attachment: fixed;
	height:1200px;
	top:999px;
	left:-1px;
	width:1850px;
	border: solid ;
	border-bottom-width:0px;
	border-top-width:15px;
	border-right-width:15px;
	border-left-width:0px;
	border-radius: 50px;
	z-index:0;
}
/* THIRD BG PIC  */
#tlo3{
	position:absolute;
	image-repeat: no-repeat;
	attachment: fixed;
	height:1050px;
	top:1998px;
	left:-1px;
	width:1870px; 
	border: solid ;
	border-bottom-width:15px;
	border-top-width:15px;
	border-right-width:0px;
	border-left-width:15px;
	border-radius: 50px;
	z-index:0;
}


a:hover {
	font-size: 16.5px;
}


/* nav bar */

.topnav {
  overflow: hidden;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  left: 27%;
  top:20px;
  width:50%;
  height:50px;
  text-align: center;
  border: solid 2px;
  border-color: yellow;
  border-radius: 50px;

}
.topnav a {
  color: #f2f2f2;
  padding: 13px 25px;
  text-decoration: none;
  font-size: 35px;
  width:100%;
  align:top;
  text-decoration: underline;

}

.topnav a:hover {
  background-color: rgba(166,166,166,0.6);
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.script1 {
	float:right;
}



/* UNUSED */
#para2 {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
	font-family: Comic Sans MS;
	font-weight: 200;
	font-size: 7px;
	border: solid 3px black;
	background-color:pink;
	width:60%;
	height:465px;
	text-align: center;
	padding: 10px;
	overflow: scroll;
	overflow-x: hidden;
}


/* Define a custom web font */

@font-face {
  font-family: cosmicblaster;
  src: url(./fonts/cosmicblaster.ttf);
}-

.anim{
	width: 20px;
	height: 10px;
	background-color: red;
	position: relative;
	animation-name: example;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-color:red; left:700px; top:1050px;}
  25%  {background-color:yellow; left:1500px; top:1050px;}
  50%  {background-color:blue; left:1500px; top:1250px;}
  75%  {background-color:green; left:700px; top:1250px;}
  100% {background-color:red; left:700px; top:1050px;}
}

/* Map 1 */
.tab1{
	position:absolute;
	top:2150px;
	left:250px;
	width: 30%;
	background-color: white;
	border-radius: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	margin-bottom: 25px;
}
.container{
	text-align: center;
	padding: 10px 20px;
}



/* Map 2 */
.tab2{
	position:absolute;
	top:2150px;
	left:1050px;
	width: 30%;
	background-color: white;
	border-radius: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	margin-bottom: 25px;
}
.container2{
	text-align: center;
	padding: 10px 20px;
}


/* Map 3 */
.tab3{
	position:absolute;
	top:2550px;
	left:350px;
	width: 20%;
	background-color: white;
	border-radius: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	margin-bottom: 25px;
}
.container3{
	text-align: center;
	padding: 10px 20px;
}

/* Map 4 */
.tab4{
	position:absolute;
	top:2550px;
	left:750px;
	width: 20%;
	background-color: white;
	border-radius: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	margin-bottom: 25px;
}
.container4{
	text-align: center;
	padding: 10px 20px;
}


/* Map 5 */
.tab5{
	position:absolute;
	top:2550px;
	left:1150px;
	width: 20%;
	background-color: white;
	border-radius: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	margin-bottom: 25px;
}
.container5{
	text-align: center;
	padding: 10px 20px;
}

/* Socials header */

.socials{
	position:absolute;
	color:White;
	text-transform: uppercase;
	text-shadow: 2px 2px 5px purple;
	font-family: cosmicblaster;
	letter-spacing: 2px;
	font-size: 33px;
	top:1090px;
	left:739px;
}

/* youtube */
.youtube{
	position:absolute;
	top:1600px;
	left:1100px;
	width:7%;
}

/* twitch */
.twitch{
	position:absolute;
	top:1600px;
	left:1300px;
	width:7%;
}

/* discord */
.discord{
	position:absolute;
	top:1600px;
	left:1500px;
	width:7%;
}

/* steam */
.steam{
	position:absolute;
	top:1750px;
	left:1150px;
	width:11.5%;
}



/* infobox */
.infobox{
	position: absolute;
    top: 100px;
	width:1470px;
	height:800px;
    left: 200px;
	background-color: rgba(166,166,166,0.6);
	border: solid 5px;
	border-color:rgba(0,0,0,0.8);
	font-family: cosmicblaster;
	border-radius: 20px;
}
/* Headers for info boxes */
.infoboxheader{
	text-align:center;
	font-family: cosmicblaster;
	letter-spacing: 2px;
	color:white;
	text-shadow: 2px 2px 5px black;
}
/* infobox break1*/
.infoboxbreak{
	width:90%;
	height:3px;
	background-color:black;
	border-color:black;
	opacity:0.7;
}

/* infobox sidebar1*/
.sidebar{
	position:absolute;
	width:3px;
	height:600px;
	top:125px;
	left:1200px;
	background-color:black;
	border-color:black;
	opacity:0.7;
}
/* infobox sidebar2*/
.sidebar2{
	position:absolute;
	width:3px;
	height:600px;
	top:125px;
	left:1435px;
	background-color:black;
	border-color:black;
	opacity:0.7;
	
}


/* Socials infobox */
.socialsinfobox{
	position: absolute;
    top: 1200px;
	width:550px;
	height:600px;
    left: 100px;
	background-color: rgba(166,166,166,0.6);
	border: solid 5px;
	border-color:rgba(0,0,0,0.8);
	border-radius: 20px;
}
	
/* white box in first div */
.whiteBox{
	position: absolute;
	width:550px;
	height:600px;
	left:40px;
	top:140px;
	background-color:black;
	opacity:0.8;
}

.programs{
	position: absolute;
	width:550px;
	height:300px;
	left:620px;
	top:140px;
	background-color:black;
	opacity:0.8;
}
.detail1{
	position: absolute;
	width:548px;
	height:75px;
	left:620px;
	top:133px;
	background-color:black;
	border-color:transparent;
	opacity:0.4;
}
.detail2{
	position: absolute;
	width:548px;
	height:75px;
	left:40px;
	top:133px;
	background-color:black;
	border-color:transparent;
	opacity:0.4;
}

/* nav Tab1 */
.Tab1{
	position:absolute;
	margin-left:50px;
	color:white;
	text-shadow: 2px 2px 5px black;
	letter-spacing: 2px;	
}
/* nav Tab2 */
.Tab2{
	position:absolute;
	top:70px;
	margin-left:30px;
	color:white;
	text-shadow: 2px 2px 5px black;
}
/* nav Tab3 */
.Tab3{
	position:absolute;
	font-size:27px;
	top:150px;
	margin-left:12px;
	color:white;
	text-shadow: 2px 2px 5px black;
	

}
.Tab3:hover{
	font-size: 28px;
	
}
/* nav Tab4 */
.Tab4{
	position:absolute;
	top:210px;	
	margin-left:60px;
	color:white;
	text-shadow: 2px 2px 5px black;

}
/* nav Tab5 */
.Tab5{
	position:absolute;
	font-size:20px;
	top:290px;	
	margin-left:15px;
	color:white;
	text-shadow: 2px 2px 5px black;

}    
.Tab5:hover{
	font-size:21px;
}                      

/* box where the tabs are */
.whiteBox2{
	position: absolute;
	width:200px;
	height:600px;
	left:1220px;
	top:140px;
	background-color:transparent;
	border-radius:15px;

}

/* white box in socials div */
.whiteBoxSocials{
	position: absolute;
	width:460px;
	height:400px;
	left:40px;
	top:140px;
	background-color:black;
	opacity:0.8;
}

.aboutsocials{
	position: absolute;
	margin-left:15px;
	color:white;
	text-shadow: 2px 2px 5px black;	
	font-family: cosmicblaster;
	letter-spacing: 2px;
}


/* ufo gif  */
.gif1{
	position: absolute;
	width:190px;
	height:250px;
	left:1428px;
	top:600px;
	border: solid 2px;
	border-radius:800px;
	border-color:white;

	
}
.tabBreak1{
	position:absolute;
	width:85px;
	height:3px;
	top:54px;
	left:45px;
	background-color:White;
	border-color:black;
}
.tabBreak2{
	position:absolute;
	width:135px;
	height:3px;
	top:124px;
	left:25px;
	background-color:White;
	border-color:black;
}
.tabBreak3{
	position:absolute;
	width:185px;
	height:3px;
	top:194px;
	left:7px;
	background-color:White;
	border-color:black;
}
.tabBreak4{
	position:absolute;
	width:85px;
	height:3px;
	top:261px;
	left:53px;
	background-color:White;
	border-color:black;
}
.tabBreak5{
	position:absolute;
	width:180px;
	height:3px;
	top:322px;
	left:10px;
	background-color:White;
	border-color:black;
}

.Title1{
	position:absolute;
	left:200px;
	color:white;
	text-align:center;
}
.Title2{
	position:absolute;
	left:150px;
	color:white;
	text-align:center;
}

.ImageEditors{
	position:absolute;
	color:white;
	top:70px;
	left:30px;
}
.ImageEditors2{
	position:absolute;
	color:white;
	top:110px;
	left:25px;
}


.VideoEditors{
	position:absolute;
	color:white;
	top:70px;
	left:220px;
}
.VideoEditors2{
	position:absolute;
	color:white;
	top:110px;
	left:215px;
}


.AudioEditors{
	position:absolute;
	color:white;
	top:70px;
	left:390px;
}
.AudioEditors2{
	position:absolute;
	color:white;
	top:110px;
	left:410px;
}



.MapEditors{
	position:absolute;
	color:white;
	top:190px;
	left:30px;
}
.MapEditors2{
	position:absolute;
	color:white;
	top:230px;
	left:10px;
}


.MapCompilers{
	position:absolute;
	color:white;
	top:190px;
	left:210px;
	letter-spacing: 1px;
}
.MapCompilers2{
	position:absolute;
	color:white;
	top:230px;
	left:220px;
}




.TextureConverter{
	position:absolute;
	color:white;
	top:190px;
	left:355px;
	letter-spacing: 1px;
}
.TextureConverter2{
	position:absolute;
	color:white;
	top:230px;
	left:410px;
}








.Para1{
	position:absolute;
	top:60px;
	left:10px;
	color:white;
	text-shadow: 2px 2px 5px black;	
}
/* scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #03fca5; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #19c295; 
}
