img{
    width: 100%;
}

.button {
    background-color: #000000;
    border: none;
    box-shadow: 0 9px#505050;
    padding: 30px;
    text-align: center;
    font-size: 28px;
}

.button:hover {
    background-color: #a87f32;
}

.button:active {
    box-shadow: 0 5px #3D3D3D;
    transform: translateY(5px);
}

.red {
    color: #FF0000;
}

.green {
    color: #00FF00;
}

.blue {
    color: #0000FF;
}

.yellow {
    color: #FFFF00;
}

.round {
    border-radius: 50%;
}

select {
  position:relative;
  left: 400px;
  top: -285px;
  width: 200px;
  padding: 5px 5px 5px 5px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #C0C0C0;
  height: 34px;
  border-radius: 20px;
  border-top-color: blue;
  border-left-color: yellow;
  border-bottom-color: red;
  border-right-color: green;
  

  /* WebKit */
  -webkit-appearance: none;
  /* Mozilla */
  -moz-appearance: none;
  /* Opera */
  -o-appearance: none;
  /* Internet Explorer */
  -ms-appearance: none;
  /* CSS3 */
  appearance: none;
}


/* Slider Switch Checkbox */

.switch {
  position: relative;
  /* No line-break after the element, so the element can sit next to other elements.*/
  display: inline-block;
  left: 200px;
  top: -320px;
  width: 60px;
  height: 34px;
}

.switch input {
  /* This makes the default checkbox disappear */
  opacity: 0;
  width: 0px;
  height: 0px;
}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 1px 1px 1px 1px;
  border: 1px solid #C0C0C0;
  height: 34px;
  border-radius: 20px;

  /* WebKit */
  -webkit-transition: 0.5s;
  /* Mozilla */
  -moz-transition: 0.5s;
  /* Opera */
  -o-transition: 0.5s;
  /* Internet Explorer */
  -ms-transition: 0.5s;
  /* CSS3 */
  transition: 0.5s;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 5px;
  bottom: 5px;
  background-color: #000000;
  border-radius: 20px;

  /* WebKit */
  -webkit-transition: 0.5s;
  /* Mozilla */
  -moz-transition: 0.5s;
  /* Opera */
  -o-transition: 0.5s;
  /* Internet Explorer */
  -ms-transition: 0.5s;
  /* CSS3 */
  transition: 0.5s;

}

input:checked+.toggle {
  background-color: lime;
}

input:checked+.toggle:before {
  /* WebKit */
  -webkit-transform: translateX(26px);
  /* Mozilla */
  -moz-transform: translateX(26px);
  /* Opera */
  -o-transform: translateX(26px);
  /* Internet Explorer */
  -ms-transform: translateX(26px);
  /* CSS3 */
  transform: translateX(26px);
}

